<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/css/output.css" />
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
  </head>
  <body class="bg-darkM-indigo text-darkM-whiteBlue flex">
    <div class="max-w-[450px] mx-auto h-fit mt-6">
      <h2 class="text-4xl text-center mb-4">404 error request</h2>
      <p>
        Something went wrong. The page you are trying to visit doesn't exist.
      </p>
    </div>
  </body>
</html>
