<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/css/output.css" />
    <link rel="icon" href="/images/favicon.ico" />
  </head>
  <body class="bg-darkM-indigo text-darkM-whiteBlue">
    <button
      type="button"
      aria-label="button"
      class="w-[30px] absolute left-5 top-5"
    >
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ionicon"
          viewBox="0 0 512 512"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M112 160l-64 64 64 64"
          />
          <path
            d="M64 224h294c58.76 0 106 49.33 106 108v20"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          />
        </svg>
      </a>
    </button>
    <h2 class="text-4xl text-center mb-4 mt-6">Hello!</h2>
    <div
      class="max-w-[450px] mx-auto rounded-md border-2 border-darkM-lightIndigo2 p-2 bg-darkM-whiteIndigo custom-shadow"
    >
      <p class="mb-3 text-xl text-darkM-indigo">
        I'm Angelo, a front-end development student. I always had a liking to
        programming but couldn't bring myself to any of the main languages, it
        was being able to come up with my own little sites that pushed me into
        this study path. There is something special about being able to build a
        site and see it online from your phone or showing to someone else.
        Catching that feeling is the reason why I kept studying.
      </p>
    </div>
  </body>
</html>
