<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignments</title>
    <link rel="stylesheet" type="text/css" href="/css/output.css" />
    <link rel="icon" href="/images/favicon.ico" />
  </head>
  <body class="bg-darkM-indigo text-darkM-whiteBlue">
    <button
      type="button"
      aria-label="button"
      class="w-[30px] absolute left-5 top-5"
    >
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ionicon"
          viewBox="0 0 512 512"
        >
          <path
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M112 160l-64 64 64 64"
          />
          <path
            d="M64 224h294c58.76 0 106 49.33 106 108v20"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
          />
        </svg>
      </a>
    </button>
    <div class="max-w-[450px] mx-auto">
      <p class="text-2xl mb-4 mt-6">
        The other assignments I got request. It links to their repository, a
        link should be there with instruction and the live site
      </p>
    </div>
    <div class="max-w-[450px] mx-auto">
      <ul>
        <li class="underline hover:text-darkM-lightIndigo2">
          <a
            href="https://github.com/AngeloMar98/siciliamiaSumExercise"
            target="_blank"
            >Sum of all integers from 1 to n</a
          >
        </li>
        <li class="underline hover:text-darkM-lightIndigo2">
          <a
            href="https://github.com/AngeloMar98/siciliamiaLoginComponent/tree/master"
            target="_blank"
            >Login form in React</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
