<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/output.css" />
    <link rel="icon" href="/images/favicon.ico" />
  </head>
  <body class="bg-darkM-indigo text-darkM-whiteBlue">
    <h2 class="text-4xl text-center mb-4 mt-6 group">
      <span class="group-hover:text-darkM-violet transition-colors duration-200"
        >Welcome</span
      >
      to the front page!
    </h2>
    <div class="max-w-[450px] mx-auto">
      <p class="mb-3 text-2xl">
        This was the assignment to test Node.js. You can go to the other pages:
      </p>
      <ul>
        <li class="underline hover:text-darkM-lightIndigo2">
          <a href="./about">About</a>
        </li>
        <li class="underline hover:text-darkM-lightIndigo2">
          <a href="./projects">My other projects</a>
        </li>
        <li class="underline hover:text-darkM-lightIndigo2">
          <a href="./assignments">The other assignments' github repository</a>
        </li>
      </ul>
    </div>
  </body>
</html>
